<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%= require('html-loader!../partials/head.html') %>

    <body>

        <%= require('html-loader!../partials/header.html') %>

        <main>
            <section id="where_to">
                <h1>Where to?</h1>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="destination" type="text" name="input" value="" placeholder="Enter Destination">
                    <input id="arrival" type="text" name="input" value="" placeholder="Arrival mm/dd/yyyy">
                    <input id="departure" type="text" name="input" value="" placeholder="Departure mm/dd/yyyy">
                    <input id="create_trip_submit" type="submit" name="" value="Create Trip" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section id="inspiration">
                <h1>Inspiration</h1>
                <div id="inspiration_container">
                    <div id="camping_cell">
                        <h2>A Night Under the Stars</h2>
                    </div>
                    <div id="lake_cell">
                        <h2>Forest Trek</h2>
                    </div>
                    <div id="beach_cell">
                        <h2>Island Getaway</h2>
                    </div>
                    <div id="camping_cell">
                    </div>
                    <div id="lake_cell">
                    </div>
                    <div id="beach_cell">
                    </div>
                </div>
            </section>
        </main>

        <%= require('html-loader!../partials/footer.html') %>

        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script> -->

    </body>
</html>
