<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%= require('html-loader!../partials/head.html') %>

    <body>

        <%= require('html-loader!../partials/header.html') %>

        <main>
            <section id='my_trips'>
                <h1>My Trips</h1>
                <div id="trips_list"></div>
            </section>
        </main>

        <%= require('html-loader!../partials/footer.html') %>

        <script>
            window.onload = (event) => {
                Client.getTrips()
            }

            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
