body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Comfortaa', cursive;
}

main {
    flex: 2;
    padding: 20px;
}

input {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}
