#where_to {
    color: #ffffff;
    border: 1px solid #545454;
    border-radius: 3px;
    background: url(../media/bus.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
}

#where_to h1 {
    font-size: 4em;
    padding: 20px 0px 40px 0px;
}

%where_to_input {
    padding: 5px 20px;
    width: 100%;
    max-width: 800px;
    line-height: 40px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8)
}

#destination {
    @extend %where_to_input;
    display: block;
}

.arrival_input {
    @extend %where_to_input;
    display: block;
}

.arrival_input_error {
    @extend %where_to_input;
    display: block;
    border: 4px solid #ff0000;
}

.departure_input {
    @extend %where_to_input;
    display: block;
}

.departure_input_error {
    @extend %where_to_input;
    display: block;
    border: 4px solid #ff0000;
}

#create_trip_submit {
    background-color: #00ad97;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid #30ddc7;
    border-radius: 12px;
    padding: 20px;
    margin: 60px 0px 20px 0px;
    width: 250px;
    display: block;
}

@media only screen and (min-width: 600px) {
    #where_to {
        background-position: left 0px bottom 0px;
    }
}

@media only screen and (min-width: 1100px) {
    #where_to {
        background-position: left 0px bottom -125px;
    }
}

@media only screen and (min-width: 2000px) {
    #where_to {
        background-position: left 0px bottom -150px;
        height: 700px;
    }
}